.dzu-dropzone {
	overflow: inherit !important;
	border: none !important;
}

.dzu-previewContainer {
	display: inline-block !important;
	border: none !important;
	padding: 0px !important;
	min-height: 30px !important;
}

.dzu-previewStatusContainer progress {
	width: 100% !important;
  	height: 7.5px !important;
  	border: 0px;
}

.dzu-previewFileName {
	font-weight: 600 !important;
	display: inline-block;
	margin-bottom: 5px !important;
}
